<% include header.ejs %>
<body>
<div class="container h-100" style="background-color: gray;">
<div class="row">
	<div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 align-self-center">
		<div class="card bg-primary" style="margin-top: 25px;">
		  	<div class="card-body">
		    <h2 class="card-title">Add Statistics</h2>
		    	<p class="card-text">
		    		<table>
						<tr>
						<th>Player Name</th>
						<td>
						<form method="post" action="addstats" >
							<select name="player">
								<% results.forEach(function(r) { %>
									<option value="<%= r.playerid %>">
							        	<%= r.fname %> <%= r.lname %>
							    	</option>
						    	<% }); %>
							</select>
						<td>
						</tr>
						<tr>
							<div class="input-group">
							<th><h4>Goals: </h4></th>
							<td><input type="number" class="form-control" name="goals" min="0" max="200" value="0" /></td>
							</div>
						</tr>
						<tr>
							<div class="input-group">
							<th><h4>Assists: </h4></th>
							<td><input type="number" class="form-control" name="assists" min="0" max="200" value="0" /></td>
							</div>
						</tr>
						<tr>
							<div class="input-group">
							<th><h4>Saves: </h4></th>
							<td><input type="number" class="form-control" name="saves" min="0" max="200" value="0" /></td>
							</div>
						</tr>
						<tr>
							<td><input type="submit"  class="form-control" class="btn btn-light text-dark" value="Add Statistics" /></td>
						</tr>
						</table>
					</form>
					<a href="/" class="text-light"> <h5> Return to Home</h5></a>
				</p>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>


